/* Include Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

html {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  width: 100%;
  margin: 0;
  height: 100%;
}
